{% extends 'core/base.html' %}

{% block 'title' %}Echo{% endblock %}

{% block 'content' %}

{% load custom_filters %}
<div class="flex justify-center pt-24 bg-[#f4f2ff]">
    <div class="flex w-[80%] justify-center">

        <div class="w-[100%] md:w-[55%] min-h-[50vh] pb-5">
            <button id="createPostButton" type="button" class="w-full border border-teal-500 bg-white hover:bg-teal-700 hover:text-white text-teal-700 p-2 mb-5 rounded-lg">
                <i class="fa-solid fa-plus text-xl me-3"></i>Create Post
            </button>
            {% for post in posts %}
            <div class="border-1 border-gray-400 bg-white rounded-lg px-8 py-5 mb-5">
                <div class="flex justify-between">
                    <div class="flex items-center">
                        <img src="{{ post.user.profile.profile_img.url }}" class="w-[45px] h-[45px] rounded-full object-cover">
                        <div class="ms-5">
                            <p class="font-semibold">{{ post.user.username }}</p>
                            <p class="text-gray-500">{{ post.created_at|time_until }}</p>
                        </div>
                    </div>
                </div>
                <p class="mt-4">{{post.text}}</p>
                {% if post.image %}
                <img src="{{ post.image.url }}" class="w-full h-[300px] md:h-[300px] rounded-lg my-3 object-cover">
                {% endif %}
                <div class="flex mt-3">
                    <button class="like-button" data-post-id="{{ post.id }}">
                        {% if post.id in liked_posts %}
                            <i class="fa-solid fa-heart text-red-500 text-xl"></i>
                        {% else %}
                            <i class="fa-regular fa-heart text-xl"></i>
                        {% endif %}
                        <span class="text-xl ms-1 me-6 like-count">{{ post.like_set.count }}</span>
                    </button>
                    <button type="button" class="comment-button" data-post-id="{{ post.id }}">
                        <i class="fa-regular fa-comment text-xl"></i><span class="ms-2 text-xl">{{ post.comment_set.count }}</span>
                    </button>
                    <div id="commentModal{{ post.id }}" class="fixed inset-0 flex items-center justify-center bg-black/70 bg-opacity-50 hidden z-10">
                        <div class="bg-white rounded-lg p-8 w-1/2">
                            <h2 class="text-2xl font-semibold mb-4">Comments</h2>
                            {% if post.comment_set.count != 0 %}
                            {% for comment in post.comment_set.all %}
                            <div class="flex border-1 border-gray-400 rounded-lg p-4 mb-2">
                                <img class="w-[30px] h-[30px] rounded-full object-cover me-3" src="{{ comment.user.profile.profile_img.url }}">
                                <div>
                                    <p class="font-semibold pb-2">{{ comment.user.username }}</p>
                                    <p>{{ comment.comment_text }}</p>
                                </div>
                            </div>
                            {% endfor %}
                            {% else %}
                            <p class="text-gray-700">No comments yet</p>
                            {% endif %}
                            <form action="{% url 'post:comment' post.id %}" method="POST">
                                {% csrf_token %}
                                <textarea id="commentInput{{ post.id }}" name="comment_text" class="w-full border-1 border-gray-400 rounded-lg p-2 mt-4" placeholder="Write a comment..."></textarea>
                                <button type="submit" class="bg-teal-700 hover:bg-teal-800 text-white py-2 px-4 rounded-md">Submit</button>
                                <button type="button" class="mt-4 bg-gray-300 hover:bg-gray-400 py-2 px-4 ms-2 rounded-md" onclick="closeModal({{ post.id }})">Close</button>
                            </form>
                            <div id="commentsContainer{{ post.id }}" class="mt-4"></div>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>

        <div class="w-[35%] ms-8 hidden md:block">
            <div class="fixed w-100 top-24 bg-white">
                <div class="max-h-[50vh] flex-col border-1 border-gray-400 rounded-lg py-5 px-10">
                    <a href="{% url 'core:profile' %}">
                        <div class="flex items-center">
                            <img class="w-[80px] h-[80px] rounded-full object-cover" src="{{ profile.profile_img.url }}">
                            <div class="ms-5">
                                <p class="text-xl font-semibold mb-2">{{ profile.user.username }}</p>
                                <p class="text-gray-700">{{ profile.location }}</p>
                            </div>
                        </div>
                    </a>
                    <p class="my-3 text-gray-700">{{ profile.bio }}</p>
                    <div class="flex mt-5">
                        <div class="me-5">
                            <span class="font-bold text-teal-600">{{ my_posts.count }}</span>
                            <span class="text-gray-500">Posts</span>
                        </div>
                        <!-- <div>
                            <span class="font-bold text-teal-600">3</span>
                            <span class="text-gray-500">Friends</span>
                        </div> -->
                        
                    </div>
                </div>
                <!-- <div class="max-h-[50vh] border-1 border-gray-400 rounded-lg hidden md:block p-5 mt-5">
                    <p class="text-lg font-semibold">Friend Suggestions</p>
                    {% for suggestion in suggestions %}
                    <div class="flex justify-between items-center pt-5">
                        <div class="flex items-center">
                            <img src="{{ suggestion.profile.profile_img.url }}" class="w-[45px] h-[45px] rounded-full object-cover">
                            <div class="ms-4">
                                <p class="font-semibold">{{ suggestion.username }}</p>
                                <p class="text-gray-500">{{ suggestion.profile.location }}</p>
                            </div>
                        </div>
                        <button id="createPostButton" type="button" class="bg-teal-600 hover:bg-teal-700 text-white py-1 px-3 rounded-lg">
                            <i class="fa-solid fa-plus text-md me-3"></i>Add
                        </button>
                    </div>
                    {% endfor %}
                </div> -->
            </div>
        </div>
    </div>

    <div id="createPostModal" class="fixed inset-0 flex items-center justify-center bg-black/70 bg-opacity-50 hidden">
        <div class="bg-white p-8 rounded-lg w-1/2">  <h2 class="text-2xl font-semibold mb-4">Create New Post</h2>
            <form action="{% url 'post:create_post' %}" method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                {{ post_form.as_p }}
                <div class="flex justify-end">
                    <button id="cancelPostButton" class="bg-gray-300 hover:bg-gray-400 text-gray-800 font-bold py-2 px-4 rounded mr-2">Cancel</button>
                    <button id="submitPostButton" class="bg-teal-700 hover:bg-teal-800 text-white font-bold py-2 px-4 rounded">Post</button>
                </div>
            </form>
        </div>
    </div>

</div>

{% endblock %}